Source: php-ssh2
Section: devel
Priority: extra
Maintainer: Martin Meredith <mez@debian.org>
Uploaders: Lior Kaplan <kaplan@debian.org>
Build-Depends: debhelper (>= 7), php5-dev, libssh2-1-dev, libtool
Standards-Version: 3.9.4
Homepage: http://pecl.php.net/package/ssh2

Package: libssh2-php
Architecture: any
Depends: ucf, ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}
Description: PHP Bindings for libssh2
 Provides bindings to the functions of libssh2 which implements the SSH2
 protocol.
